# Go
*.exe
*.test
*.out

# Wails
/build/bin/
/frontend/package.json.md5

# Frontend
/frontend/node_modules/
/frontend/dist/*
!/frontend/dist/.gitkeep

# ETL
/scripts/etl/raw_*.json

# Windows
Thumbs.db
desktop.ini

.env
